# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 88
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_size = 4

[LICENSE]
indent_size = unset
max_line_length = off

[Makefile]
indent_style = tab

[*.md]
# mdformat handle this
indent_size = unset
